*{
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.header{
    background-color: #000;
    width: 100vw;
}

.header-inner{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header-search__form {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search__form--input {
    height: 100%;
    border: none;
    padding: 0 50px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

.header-search__form--button-submit {
    height: 100%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
}

.header-search__form--button {
    height: 100%;
}

.header-nav__button {
    margin-right: 20px;
    background-color: inherit;
    color: #fff;
    border: none;
    cursor: pointer;
}

.header-nav__button-sell {
    border-radius: 4px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
}

@media screen and (max-width:850px) {
    .header-inner {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .header__logo-icon {
        height: 20px;
    }

    .header__logo-title {
        height: 20px;
    }

    .header-title {
        padding: 5px 20px;
        height: auto;
        width: 300px;
    }

    nav {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}