.content {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.detail-image {
    padding: 20px;
}

.detail-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.item-title__name {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

.item-title__brand {
    margin: 0;
    font-size: 20px;
}

.item-title__price {
    font-size: 30px;
    margin: 0;
}

.item-price__number {
    font-size: 45px;
}

.item-title {
    margin-bottom: 10px;
}

.item-actions {
    margin-left: 50px;
    width: 145px;
}

.item-actions__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-mylist__form {
    width: 40px;
    height: 40px;
}

.item-mylist__form--button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
    background-color: inherit;
    border: none;
}

.item-actions__icon--star {
    width: 100%;
    height: 100%;
}

.item-actions__icon--chat {
    width: 40px;
    height: 40px;
}

.item-actions__counts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 20px;
}

.item-actions__count--mylist {
    font-size: 18px;
    font-weight: 700;
    width: 40px;
    text-align: center;
}

.item-actions__count--comment {
    font-size: 18px;
    font-weight: 700;
    width: 40px;
    text-align: center;
}

.item-purchase__form {
    width: 100%;
}

.item-purchase__form-button {
    width: 100%;
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    color: #fff;
    background-color: #FF5555;
    border: none;
}

.item-description__title {
    margin: 30px 0;
    font-size: 36px;
    font-weight: 700;
}

.item-description__text {
    margin: 0;
}

.item-info__title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 36px;
}

.item-info__table {
    width: 100%;
}

.item-info__table--header {
    font-weight: 700;
    padding-bottom: 15px;
    text-align: left;
}

.item-info__table--categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.item-info__table--category {
    font-size: 20px;
    padding: 0px 20px;
    background-color: #D9D9D9;
    margin-right: 15px;
    border-radius: 15px;
}

.item-info__table--condition {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item-comments__title {
    margin: 30px 0 10px;
    font-size: 36px;
    font-weight: 700;
    color: #5F5F5F;
}

.item-comments__user-profile {
    background-color: #D9D9D9;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.item-comments__profile--image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-comments__list-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-comments__user-name {
    font-size: 30px;
    font-weight: 700;
}

.item-comments__text {
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 30px;
}

.item-comment__input-title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 10px;
}

.item-comment__textarea {
    padding: 15px;
    height: 245px;
    width: 100%;
    border: 2px solid #5F5F5F;
    border-radius: 5px;
}

.item-comment__button {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #FF5555;
    cursor: pointer;
    width: 100%;
    padding: 9px;
    margin-top: 30px;
}

.form-error {
    color: #FF5555;
    margin-top: 10px;
}

@media screen and (max-width: 850px) {
    * {
        font-size: 24px;
        font-weight: 400;
        color: #000;
    }

    .content{
        margin: 0;
        display: block;
    }

    .detail-image{
        padding: 0;
        text-align: center;
        background-color: #1b1b1b;
    }

    .detail-img{
        width: 500px;
        height: 500px;
    }

    .detail-content{
        margin: 30px;
    }

    .item-title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .item-actions{
        margin: 0 0 0 auto;
    }

    .item-purchase__form-button{
        padding: 20px;
    }

    .item-description__title {
        margin: 50px 0 20px;
    }

    .item-info__title {
        margin: 50px 0 20px;
        font-weight: 700;
        font-size: 36px;
    }

    .item-comments__title {
        margin: 50px 0 10px;
    }

    .item-comments__text {
        margin: 15px 0 50px;
    }

    .item-comment__button{
        padding: 20px;
    }
}