.alert-success {
    background-color: rgb(220, 255, 237);
    padding: 10px 100px;
    color: rgb(0, 85, 0);
    font-weight: 700;
}

.content {
    margin: 50px auto;
    width: 45%;
}

.title {
    margin: 0 0 30px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.form-item {
    margin-bottom: 35px;
}

.form-item__label {
    font-weight: 700;
}

.form-item__input {
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    width: 100%;
    padding: 10px;
}

.form-error{
    color: #FF5555;
}

.form-button__submit {
    border-radius: 5px;
    width: 100%;
    background-color: #FF5555;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    margin-top: 30px;
}

.profile__image {
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.profile-form__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.profile__image-area{
    margin-bottom: 50px;
}

.profile__image-area--inner {
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile-image__label {
    padding: 15px;
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.profile__image-input {
    margin-left: 50px;
}

@media screen and (max-width: 850px) {
    .content {
        width: 70%;
    }
}