* {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

body, html {
    height: 100%;
    margin: 0;
}

.header {
    background-color: #000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner {
    padding: 15px;
}

.container {
    display: flex;
    height: calc(100vh - 68.46px);
}